.personal-data-confirm-wrapper {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  border-top: 1px solid #e6e6e6;
  box-shadow: 0px -4px 30px -8px #000000;
  z-index: 1000;
  font-size: 0.8em;
}

.personal-data-confirm {
  margin: 0 auto;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

.personal-data-confirm__button {
  top: 50%;
  right: 30px;
  display: block;
  margin-top: 20px;
  padding: 10px 30px;
  background: #3eabd9;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}

.personal-data-confirm__button:hover {
  background: #1484b3;
}

@media (min-width: 426px) {
  .personal-data-confirm {
    padding: 20px;
  }
  .personal-data-confirm__text {
    padding-right: 180px;
  }
  .personal-data-confirm__button {
    top: 30%;
    margin-top: 0px;
    position: absolute;
  }
}

@media (min-width: 768px) {
  .personal-data-confirm__button {
    top: 15%;
  }
}
