<div id="personal-data-confirm-wrapper" class="personal-data-confirm-wrapper">
    <div class="personal-data-confirm">
        <div class="personal-data-confirm__text">
           {{ cookie_policy_information|raw }}
        </div>
        <div class="personal-data-confirm__button">{{ label|t }}</div>
    </div>
</div>
